
.formContato{
	border-style: solid none none;
    border-width: 0.1em;
	font-size: 1.7em; 
	font-family: Arial, Helvetica, sans-serif;
	color: #000000; 
}

.fonteWarning {
	font-size: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
}

.formContato label{
	display: block;
	float: left;
	text-align: left;
	width: 3.5em;
	padding-right: 1.7em;
	padding-bottom: 1px;
}

.formContato input{
	display: block;
	float: left;
}



.listaErrosAvisos li
{
list-style-type: none;	
}
.listaErrosAvisos li
{
	text-decoration: none;
}

#listaErros
{
	font-size: 14px;	
	margin-top: 30px;
}

.contraste .formContato{
	border-style: solid none none;
    border-width: 0.1em;
	font-size: 1.7em; 
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff; 
}
