.criterios{
    font-size:1.4em; 
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo{
	font-family: Arial, Helvetica, sans-serif; 
    font-size:1.9em; 
    font-weight: normal;
    color: #2c66ce;
    font-style: italic;
}

.contraste .subtitulo{
	font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal;
    color: #fff;
    font-size:1.4em;
    font-style: italic;
}
.tabelaCriterioSucesso{
    font-family: Arial, Helvetica, sans-serif; 
    width:100%;
    table-layout:fixed;
    word-wrap: break-word;
    text-align: left;
    font-size:1.4em; 
}

.contraste .tabelaCriterioSucesso{
    font-family: Arial, Helvetica, sans-serif; 
    width:100%;
    table-layout:fixed;
    word-wrap: break-word;
    text-align: left;
    font-size:1.4em; 
    border: 1px solid #fff;
}

.tabelaCriterioSucesso caption{
	text-align: center;
	}


 .topoCriterios {
    background-color: #d2e4fc;
    color: #003399;
    font-weight: bold;
     
}

 .contraste .topoCriterios {
    background-color: #000;
    color: #fff;
    font-weight: bold;
     
}
.celulaCriterios {
	background-color: #f2f4f7;
    color: #000;
    font-weight: normal;   
}

.contraste .celulaCriterios {
	background-color: #000;
    color: #fff;
    font-weight: normal;

}

.contraste .celulaCriterios {
	background-color: #000;
    color: #fff;
    font-weight: normal;    
}
.indice0{
	width:34%;
	 
}

 .indice1{
	width:6%;
		
}

.indice2{
	width:60%;
		
}