#wrapper {margin:0px auto;background-color:#fff8e6;text-align:left}

span.apaga,#controlesA,#botao,#extras,#atalhos,#bgheader,#menu,#ondeestou,ul h3,#controlesA ul,#controlesA li,#controlesA a,#extras,#atalhos,#bgheader,#header,#header_es,#header_en,#header ul,#header_es ul,#header_en ul,#header li,#header_es li,#header_en li,#header a,#header_es a,#header_en a,#header li:hover, #header li:hover a,#header_es li:hover, #header_es li:hover a,#header_en li:hover, #header_en li:hover a,#header li:hover a,#header_es li:hover a,#header_en li:hover a,#menu,#ondeestou,#formataOnde{ display: none; }
/*__________Inicio so CSS Do RODRIGO__________*/

#conteudo h4{
	color:#0099FF;
	font-size:1em;
	font-weight: bold;
	font-family: Tahoma, Verdana, Arial;
}

#conteudo h5 {
	color:#0066CC;
	font-size: .8em;
	font-weight: bold;
	font-family: Tahoma, Verdana, Arial;
}
#conteudo h6 {
	color:#003366;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}
#conteudo h6 .detalhe{
	color:#000;
	font-style: italic;
}


#conteudo P {
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}

#conteudo P a:link{
	color:#006699;
	text-decoration:none;

	font-family: Tahoma, Verdana, Arial;
}
#conteudo P a:visited{
	color:#006699;
	text-decoration:none;

	font-family: Tahoma, Verdana, Arial;
}
#conteudo P a:hover{
	color:#990000;
	text-decoration:underline;

	font-family: Tahoma, Verdana, Arial;
}


#conteudo .titulo{
	font-weight: bold;
}

#conteudo .inscrevase{
	color:#FF9900;
	text-decoration:none;
	font-size: .95em;
	font-family: Tahoma, Verdana, Arial;
	font-weight: bold;
}
#conteudo .inscrevase a:link{
	color:#FF9900;
	text-decoration:none;
	font-size: .95em;
	font-family: Tahoma, Verdana, Arial;
	font-weight: bold;
}
#conteudo .inscrevase a:visited{
	color:#FF9900;
	text-decoration:none;
	font-size: .95em;
	font-family: Tahoma, Verdana, Arial;
	font-weight: bold;
}
#conteudo .inscrevase a:hover{
	color:#FF9900;
	text-decoration:underline overline;
	font-size: .95em;
	font-family: Tahoma, Verdana, Arial;
	font-weight: bold;
}

#conteudo .observacao {
	color:#000;
	font-size: .7em;
	font-family: Tahoma, Verdana, Arial;
	font-style: italic;
}

#conteudo .vermelho {
	color:#990000
}
#conteudo li {
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
	margin-left:15px;
}
#conteudo ul {
	color:#000;
	font-family: Tahoma, Verdana, Arial;
}
#separador{
	background-color:#FFCC66;
	width:400px;
	height:2px;
	overflow:hidden;

}
/*-------| estão na página "avaliação da edicão 2005"|--------- */
#divmapa {
	display:table;
	/*border:1px solid #ffcc00;*/
	width:100%;
}
#mapa {
	/*border:1px solid #000;*/
	float:left
}
#participantes {
	margin:0px 0px 0px 270px;
	/*border:1px solid #000;*/
}
#regioes {
	margin-top:30px;
	margin:30px 0px 0px 270px;
	/*border:1px solid #000;*/

}
#conteudo .estiloP {
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}

#tabelaAvaliacao{

}
#tabelaAvaliacao td{
	border:1px solid #000;
	width:100%;
}
#tabelaAvaliacao .colunaEscura{
	text-align:center;
	background-color:#fff1d5;
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}
#tabelaAvaliacao .colunaClara{
	background-color:#fffaed;
	text-align:center;
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}
#tabelaAvaliacao .primeiraColuna{
	white-space:nowrap;
	background-color:#faf8f1;
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}

#tabelaAvaliacao .primeiraLinha{
	white-space:nowrap;
	background-color:#ffe4af;
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}

#tabelaAvaliacao .linha{
	border:1px solid #000;
	width:100%;
	color:#000;
	font-size: .8em;
	font-family: Tahoma, Verdana, Arial;
}

#chamada {
	background-color:#D1EDCB;
	font-style: italic;
	text-align:center;
}
/*_______________________________________*/

#conteudo .letraAzulEscuro{
	color:#003366;
	font-weight:bold;
	font-size:.8em;
	font-family: Tahoma, Verdana, Arial;
}
#conteudo .letraAzulClaro{
	color:#0066CC;
	font-size:.8em;
	font-family: Tahoma, Verdana, Arial;
}


/*________Fim do css do Rodrigo_____________*/

.espaco{margin-top:5px;}
#conteudo .meulabel {display:block;color:#0066CC;font-size: .8em;font-family: Tahoma, Verdana, Arial;}
#conteudo .meulabel2 {color:#0066CC;font-size: .85em;font-family: Tahoma, Verdana, Arial;}
#conteudo input {
	border:1px solid #ccc;
	background-color:#FFF;
	color:#000;
	font-size: .85em;
	width:230px
}
#conteudo input.meucheckbox {
	border:none;
	background:none;
	color:#000;
	font-size: .85em;
	width:15px
}

#mensagem{font-family: Tahoma, Verdana, Arial;overflow:auto;width:230px;
	border:1px solid #ccc;
	background-color:#FFF;
	color:#000;
	font-size: .85em;
}

#conteudo input.meusubmit {display:block;margin-top:5px;
	background-color:#ccc;border-top:1px solid #fff;border-left:1px solid #fff;
	border-bottom:1px solid #000;border-right:1px solid #000;
	color:#000;
	font-size: .75em;
	height:18px;width:70px;
}

#conteudo h3{
	color:#cc0000;
	font-size:1em;
	font-weight: bold;
	font-family: Tahoma, Verdana, Arial;
}

#coluna {padding-right:10px;float:left;width:33%;line-height:1em; }
#conteudo .it {	color:#000;	font-size: .6em;margin:1px;	font-style: italic;}
#coluna img{ float:left;margin:5px 5px 3px 0px }
#conteudo .letraAzulEscuro2{
	color:#003366;
	font-weight:bold;
	font-size:.95em;
	font-family: Tahoma, Verdana, Arial; }
#conteudo p a.preto{color:#000;display:block}
#conteudo p a:hover{ color:#cc0000;text-decoration:none}

