/* Webax */
#webaxscore {
	width: 6em;
	text-align: center;
	margin: 0em 5% 1em 7%;
	padding: 1em 2em;
	background: transparent url('img/bg.png') top left repeat;
	color: #000;
	/* -moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-shadow: 0.06em 0.06em 2px #000; */
	float: left;
	/* box-shadow: 0.1em 0.1em 3px #333;
	-webkit-box-shadow: 0.1em 0.1em 3px #333;
	-moz-box-shadow: 0.1em 0.1em 3px #333; */
}

#webaxscore h3 {
	font-weight: normal;
	font-size: 2em;
	line-height: 1em;
	margin: 0em;
	padding: 0em;
}

#webaxscore em,#webaxscore strong {
	font-size: 0.7em;
	margin: 0em;
	padding: 0em;
}

#webaxscore span {
	display: block;
	font-weight: bold;
	font-size: 3em;
	line-height: 1em;
}

div.scoreB {
	background-color: #0d0 !important;
	color: #fff !important;
	border: 4px solid #090;
	text-shadow: 0.1em 0.1em 0.1em #000;
}

div.block {
	border: 1px solid #999;
	margin-top: -1em;
	margin-left: 7%;
	padding-left: 1.5em;
	color: #000;
	background: #ffa;
}

#tabelaErros{width:100%;border:1px solid #ccc;float:left;font-size:1.2em;margin-right:5px;}
#tabelaErros .topo{	background-color:#d2e4fc;border:0px;margin:0px;	border-collapse:collapse;font-weight:bold;color:#003399;text-align:left}
#tabelaErros .celula{border:0px;margin:0px;border:solid 1px #FFF;background-color:#F2F4F7;border-collapse:collapse;color:#003399;text-align:left}

#tabelaErros2{border:1px solid #ccc;font-size:1em; width:100%}
#tabelaErros2 .topo1{background-color:#efefef;border:0px;margin:0px;	border-collapse:collapse;font-weight:bold;color:#003399;text-align:center;}
#tabelaErros2 .topo2{background-color:#F7F7F7;border:0px;margin:0px;	border-collapse:collapse;font-weight:bold;color:#003399;padding:.4em;}
#tabelaErros2 .celula{border:0px;margin:0px;background-color:#fff;padding:.4em;border-collapse:collapse;color:#003399;}

#tabelaErros2 .sublinharLink{text-decoration: underline;}



#domtabs img, div.domtab img {vertical-align:text-bottom;}

div.domtab{	font-size:1em;clear:left; }
div.domtab div{ padding:1em;background-color:#DBE9BA;clear:both;display:block;}
ul.domtabs{float:left;margin:2em 0 0 0;list-style:none;}
ul.domtabs li{float:left;padding:0 .3em 0 0;}
ul.domtabs a:link,ul.domtabs a:visited,ul.domtabs a:active,ul.domtabs a:hover{width:16em;padding:.2em .5em;display:block;color:#003399; text-align:center;height:2em;font-weight:bold;text-decoration:none;background-color:#F2F4F7;padding-bottom:0em;}
ul.domtabs a:hover{background:#eee;color:#000000;}
ul.domtabs li.active a:link,ul.domtabs li.active a:visited,ul.domtabs li.active a:active,ul.domtabs li.active a:hover{background-color:#DBE9BA;	color:#000;padding-bottom:0em;}

#codigo pre{width:940px;height:400px;overflow:auto;}
